$primary: #1A120B;
$secondary: #3C2A21;
$tertiary: #D5CEA3;
$quaternary: #E5E5CB;

.App {
  height: 100vh;
  background-color: $primary;
  color: #E5E5CB;

}

.stream {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid $secondary;

  &-frames {
    height: 100%;
    max-width: 100vh;
    padding: 3.5em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    &__item {
      border: 1px solid $tertiary;
      border-radius: 15px;

      video {
        border-radius: 15px;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-tools {
    background-color: $secondary;

    display: flex;
    justify-content: space-between;

    visibility: hidden;

    padding: 1rem;
    border-radius: 15px 15px 0px 0px;

    div {
      display: flex;
    }

    &__video {
      margin-right: 1rem;
    }
  }

  &:hover {
    .stream-tools {
      visibility: visible;
    }
  }
}

.modal {
  width: 400px;
  background-color: $secondary;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 1rem;
  padding: 2rem;

  .ant-input {
    margin-bottom: 2rem;
    background-color: $quaternary;
    border: $secondary;
  }

  .ant-btn {
    width: 50%;
    margin: 0px auto;
    border: $secondary;
    color: $secondary !important;
  }
}

.ant-btn {
  background-color: $quaternary;
}